main {
  text-align: center;
  padding: 0px;

}

.main__claves{
  width: 40vw;
  margin-left: auto;
  margin-right: auto;


}

.main__claves img {
  width: 90px;
  margin-top: 3rem;
  margin-bottom: 2.5rem;
}

.main__envio {
  background-color: #ff975a;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  color: white;
}
.main__envio a {
  color: white;
  font-weight: 600;
}
.main__envio h2{
  margin: 1rem;
}
.main__envio p {
  margin: 1rem;
}
.main__envio button {
  margin: 1rem;
}

.main__disfruta {
  padding: 2rem;
}
.main__disfruta h1 {
  margin: 1rem;
  font-weight: 600;
}
.main__disfruta p{
  margin: 1rem;
}
.main__disfruta button {
  margin: 1rem;
}
.main__imagen-lavabo {
  width: 100%;
}