@use '../core/variables' as vars;

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    bottom: 0;
    padding: 1rem;
    color: #b6c8c9;
    background-color: vars.$color-primary;
    margin-top: 0px;
}

.footer a {
    color: #b6c8c9;
    text-decoration: none;
}
.footer ul {
    margin-top: 2rem;
}
.footer ul li {
        list-style-type: none;
        margin-top: 0.5rem;
}
i .fa-solid .fa-arrow-up {
    color: b6c8c;
}
.footer__redes {
    padding-top: 1.5rem;
}

.footer__flecha {
    width: 5rem;
    color: white;
    position: relative;
    top: 1rem;
    left: 8rem;
}
.footer nav {
    margin-bottom: 2rem;
}
@media (min-width: 900px) {
    .footer nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;    
    ul {
        width: 20vw;
    }
    }
.footer__flecha {
    top: -0.5rem;
    left: 10rem;

}
}