<footer class="footer">
    <nav>
      <ul class="footer__tienda">
        <h2>Tienda</h2>
        <li><a href="http://www.adalab.es">Productos</a></li>
        <li><a href="http://www.adalab.es">Cajonera</a></li>
        <li><a href="http://www.adalab.es">Para toda la casa</a></li>
        <li><a href="http://www.adalab.es">Habitaciones</a></li>
      </ul>
      <ul class="footer__nosotros">
        <h2>Nosotros</h2>
        <li><a href="http://www.adalab.es">Nuestra guía</a></li>
        <li><a href="http://www.adalab.es">Nuestro diseño</a></li>
        <li><a href="http://www.adalab.es">Nuestra historia</a></li>
        <li><a href="http://www.adalab.es">Ayuda</a></li>
      </ul>
      <ul class="footer__contacto">
        <h2>Contacto</h2>
        <li><a href="http://www.adalab.es">ayuda@openspaces.com</a></li>
        <li><a href="http://www.adalab.es">Socios</a></li>
        <li class="footer__redes">
          <img src="./images/linkedin.svg" alt="Linkedin">
          <img src="./images/twitter.svg" alt="Instagram">
          <img src="./images/instagram.svg" alt="Twitter">
        </li>
      </ul>
    </nav>
    <nav>
<div class="footer__flecha"><a href="#top"><i class="fa-solid fa-arrow-up"></i></a></div>

</footer>