<header id="top" class="header">
  <section class="header__image">
    <nav class="header__menu">
      <ul>
        <li><a href="http://www.adalab.es">Productos</a></li>
        <li><a href="http://www.adalab.es">Colecciones</a></li>
        <li><a href="http://www.adalab.es">Tienda</a></li>
        <li><a href="http://www.adalab.es">Inicio</a></li>
      </ul>
    </nav>
    <img class="header__hamburguer" src="../images/menu-hamburger.svg" alt="Menú">
    <img class="header__logo" src="../images/logo.png" alt="Logo">
    <div class="header__hero">
      <h1>Disfrutar creando espacios</h1>
      <button class="button_comprar_ahora">Comprar Ahora</button>
    </div>
    
  
  </section>  
  <section class="header__volver">
    <h1>Volverse a organizar se sinte mejor con OPEN SPACES</h1>
  </section>
</header>
