<main>
  <section class="main__volver">
    <h1>Volverse a organizar se sinte mejor con OPEN SPACES</h1>
    <article>
      <img src="./images/icon_1.png" alt="Icono de plantas">
      <h2>Lo que necesitas</h2>
      <p>Una línea de productos diseñados para todos tus espacios</p>
    </article>
    <article>
      <img src="./images/Biodegradable bag.png" alt="icono de bolsa bio">
      <h2>Materias primas sustentables</h2>
      <p>Todos los productos con materias primas sustentables</p>
    </article>
    <article>
      <img src="./images/Park.png" alt="icono de indicaciones a un parque">
      <h2>Guía</h2>
      <p>Soporte y asesoramiento para ayudarte con tus objetivos</p>
    </article>
  </section>

  <section class="main__envio">
    <img src="./images/go_6.png" alt="icono de coche de paquetería">
    <h2>Envío gratis garantizado</h2>
    <p>Envío gratis en compras desde 100</p>
    <a href="http://www.adalab.es">Comprar ahora</a>
  </section>

  <section class="main__disfruta">
    <div class="main__disfruta__bloque">
      <h1>Disfruta creando espacios</h1>
      <p>Una línea de productos diseñados para todos tus espacios</p>
      <button class="button_comprar_ahora">Comprar Ahora</button>
    </div>
      <img class="main__imagen-lavabo" src="./images/creando-espacios.jpg" alt="Imagen decorativa">
  </section>
</main>

